p { margin:0px; padding:0px }


div.top{
	width : 100%;
}

div.top div.header{
	width : 100%;
	height: 3%;
}

div.top div.header div.left{
	float : left;
}

div.top div.header div.right{
	float : right;
	text-align : right;
}


#nowLoadingLog{
	overflow-y : scroll;
	overflow-x : hidden;
	width : 95%;
	height : 180px;
	margin-left : auto;
	margin-right : auto;
}

div.network{
	clear : both;
	height : 50%;
}

div.machine{
	clear : both;
	border : 1px solid;
	height : 30%;
}

.machine .machineList{
	float : left;
	width : 50%;
	height : 80%;
	overflow : scroll;
	border : 1px solid;
	margin-left : 4px;
}


.machine .machineList .list{
	font-size : 1.5em;
	width : 98%;
	height : 80%;
	border : 1px solid;
	margin : 1%;
	overflow : scroll;
}

.machine .machineList .util{
	padding-left : 1%;

}

.make-switch {
	height : 30px;
}

#machineProperty{
	float : right;
	overflow : scroll;
	width : 49%;
	height : 80%;
	border : 1px solid;
	padding : 1%;


}

#machineProperty .package{
	width : 100%;
}

#newMachineForm .package select:disabled{
	color : black;
}



span.br{
	display:block;
}

img.nowloadingIcon{
	width: 150px;
	height: 150px;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 3%;
}
img.minimumNowloadingIcon{
	width : 20px;
	height : 20px;
}

#pkgSearchResult, .pkgList ,#newMachineForm .package{
	width : 95%;
	overflow : scroll;

}

#network{
	clear: both;
	height : 100%;

}
#diagram{
	float: left;
	width : 950px;
	height : 100%;
}

#netInfo{
	floar: right;

}

#shellModal .modal-dialog .modal-content .modal-body{
	height : 340px;
}


svg .connected {
   fill: limegreen;
   stroke: green;
   stroke-width: 5;
}


.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 5.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

