p { margin:0px; padding:0px }


div.top{
	width : 100%;
}

div.top div.header{
	width : 100%;
	height: 3%;
}

div.top div.header div.left{
	float : left;
}

div.top div.header div.right{
	float : right;
	text-align : right;
}

div.top div.console{
	clear :both;
	width : 50%;
	height : 60%;
	float : left;
	border-right : 1px solid;
}

#contxt{
	overflow-y : scroll;
	overflow-x : hidden;
	width : 98%;
	height : 80%;
	border : 2px solid;
	padding-left : 1px;
	color : lime;
	background-color : #111111;
}

div.top div.status{
	float : right;
	width : 49%;
	height : 60%;
	margin-right : auto;
}
#statxt{
	overflow-y : scroll;
	overflow-x : hidden;
	width : 95%;
	height : 90%;
	border : 1px solid;
	background-color : white;
}

#nowLoadingLog{
	overflow-y : scroll;
	overflow-x : hidden;
	width : 95%;
	height : 180px;
	margin-left : auto;
	margin-right : auto;
}

div.network{
	clear : both;
	height : 200px;
	border : 1px solid;
}

div.machine{
	clear : both;
	border : 1px solid;
	height : 70%;
}

.machine .machineList{
	float : left;
	width : 50%;
	height : 80%;
	overflow : scroll;
	border : 1px solid;
	margin-left : 4px;
}


.machine .machineList .list{
	font-size : 1.5em;
	width : 98%;
	height : 80%;
	border : 1px solid;
	margin : 1%;
	overflow : scroll;
}

.machine .machineList .util{
	padding-left : 1%;

}

.make-switch-large {
	height : 10%;
}

#machineProperty{
	float : right;
	overflow : scroll;
	width : 49%;
	height : 80%;
	border : 1px solid;
	padding : 1%;


}

#machineProperty .package{
	width : 100%;
}

#newMachineForm .package select:disabled{
	color : black;
}




div.disk{
	clear : both;
	border : 1px solid;
	height : 200px;
}

div.test{

}
span.br{
	display:block;
}

img.nowloadingIcon{
	width: 150px;
	height: 150px;
	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 3%;
}
img.minimumNowloadingIcon{
	width : 20px;
	height : 20px;
}

#pkgSearchResult, .pkgList ,#newMachineForm .package{
	width : 95%;

}


